:root {
  --btn-clr: #3da9fc;
  --btn-clr-hover: #038df6;
  --btn-clr-active: #037bd7;
  --btn-contacts-hover: #7cc6fb;
  --btn-contacts-active: #4eb2fa;
  --background: #d8eefe;
  --card: white;
}

.App {
  display: flex;
  flex-direction: column;
  
  position: relative;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  
  margin: 0;
  padding: 0;
  
  background-color: var(--background);
}

.vl {
  border-left: 1px solid rgba(128, 128, 128, 0.5);
  height: 500px;
}