.chatbox {
  display: flex;
  flex-direction: column;
  
  width: 400px;
  height: fit-content;
  
  gap: 6px;
}

.chatbox-log {
  display: flex;
  flex-direction: column-reverse;
  
  width: fit-content;
  height: 300px;
  
  gap: 10px;
  
  list-style: none;
  
  border: 1px solid black;
  border-radius: 6px;
  
  overflow-y: auto;
  overflow-x: hidden;
  
  padding: 6px 6px;
  margin: 0;
  box-sizing: border-box;
}

.chatbox-log li {
  text-align: left;
  max-width: 100%;
  width: 100%;
}

.chatbox-log span {
  display: flex;
  flex-wrap: wrap;
  
  word-break: break-all;
  
  padding: 0;
  margin: 0;
  text-align: left;
  
  width: 100%;
}

.log-cnt {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 16px;
  padding: 4px 8px;
}

.log-user {
  display: flex;
  align-items: center;
  
  gap: 4px;
  
  font-weight: 600;
  font-size: 16px;
}

.log-message {
  font-size: 14px;
}

.chatbox-input {
  display: flex;
  gap: 6px;
}

.chatbox-input textarea {
  width: 80%;
  resize: none;
}

.chatbox-input button {
  width: 30%;
}