#comments {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  gap: 20px;
}

.comment-form {
  display: flex;
  align-items: center;
  
}

.comment-form img {
  width: 5%;
  min-width: 24px;
  max-width: 48px;
  
  height: auto;
  cursor: pointer;
  
  transition: transform .1s;
}

.comment-form img:hover {
  filter: brightness(0) saturate(100%) invert(38%) sepia(96%) saturate(2362%) hue-rotate(186deg) brightness(99%) contrast(98%);
  transform: scale(1.05);
}

.comment-form img:active {
  filter: brightness(0) saturate(100%) invert(32%) sepia(73%) saturate(2627%) hue-rotate(188deg) brightness(92%) contrast(98%);
  transform: scale(1);
}

.comment-form input {
  width: 95%;
  height: 40px;
  
  border-radius: 20px;
  border: 2px solid var(--btn-clr-hover);
  
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

.comment-form input:focus {
  outline-color: var(--btn-clr-active);
}