.cnt,
.cnt-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cnt-horizontal {
  flex-direction: row;
}

.cnt-screen-width {
  width: 100%;
}

.cnt-screen-height {
  height: 100%;
}