@keyframes flash {
  0% {
    background-color: var(--background);
  }
  50% {
    background-color: var(--btn-contacts-hover);
  }
  100% {
    background-color: var(--background);
  }
}

#contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 10px;
  
  width: fit-content;
  
  height: fit-content;
  max-height: 80vh;
  
  overflow-y: auto;
}

.contact {
  display: flex;
  align-items: center;
  
  min-width: 200px;
  max-width: fit-content;
  
  gap: 4px;
  cursor: pointer;
  
  border-radius: 6px;
}

.contact:hover {
  background-color: var(--btn-contacts-hover) !important;
}

.contact:active {
  background-color: var(--btn-contacts-active);
}

.contact img {
  width: 40px;
  height: auto;
}

.contact-notification {
  animation: flash 2s infinite;
  -webkit-animation: flash 2s infinite;
  -moz-animation: flash 2s infinite;
}