#find-friends {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
}

.find-friends-cnt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.find-friends-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}