#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 10px;
  
  margin-top: auto;
  margin-bottom: 10px;
}

#footer img {
  max-width: 24px;
  max-height: auto;
  
  transition: .2s;
}

#footer img:hover {
  transform: rotateZ(360deg);
}