#homepage {
  display: flex;
  justify-content: space-between;
  position: relative;
  
  padding: 20px;
  
  background-color: var(--background);
/*   
  min-height: calc(100vh - 40px); */
}

.homepage-middle {
  min-width: 400px;
  width: 800px;
  height: 100%;
}

.homepage-left {
  width: 200px;
  margin-left: auto;
  height: 100%;
  
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}

.homepage-right {
  width: 200px;
  height: 100%;
  margin-right: auto;
  margin-left: 50px;
  
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}