.posts {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  gap: 20px;
}

.post {
  box-shadow: 4px 4px 5px rgba(128, 128, 128, 0.25);
}

.post-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts-narrow {
  width: 40%;
}

.post-input {
  display: flex;
  align-items: center;
}

.post-input img {
  width: 5%;
  width: 48px;
  
  height: auto;
  cursor: pointer;
  
  transition: transform .1s;
}

.post-input input {
  width: 95%;
  height: 40px;
  
  border-radius: 20px;
  border: 2px solid var(--btn-clr-hover);
  
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  
  background-color: rgba(0, 0, 0, 0.05);
}

.post-input input:focus {
  outline-color: var(--btn-clr-active);
}

.post-options {
  display: flex;
  align-items: center;
}

.post-photo {
  max-width: 100%;
}

.post-message {
  display: flex;
  text-align: left;
  white-space: pre-line;
}

.liked {
  background-color: var(--btn-clr);
  color: #fffffe;
}

.post-user {
  display: flex;
}

.post-user-info {
  display: flex;
  flex-direction: column;
}

.post-user-info span {
  font-size: 14px;
}

.post-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-likes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-comments {
  color: gray;
  cursor: pointer;
}

.post-comments:hover {
  text-decoration: underline;
}

.post-likes img {
  width: 24px;
  height: auto;
}